.target-word{
    -fx-background-color: #2e3439;
       -fx-border-color :#2e3439;
       -fx-control-inner-background: #2e3439;
       -fx-font-size: 18px;
       -fx-text-fill: #d2d0d2;
}

.explain-word{
    -fx-background-color: #2e3439;
           -fx-border-color :#2e3439;
           -fx-control-inner-background: #2e3439;
           -fx-font-size: 18px;
           -fx-text-fill: #d2d0d2;
}

.noti-label{
   -fx-background-color: #66b266;
   -fx-padding: 5 10 5 10;
   -fx-effect: dropshadow(three-pass-box, #212429, 1, 0, 0, 1) ;
   -fx-font-size: 18px;
   -fx-text-fill: #000;
   -fx-font-weight: bold;
}

.add-button{
    -fx-padding: 0;
    -fx-background-color : #4e5255;
    -fx-text-fill:  #919395;
    -fx-font-size: 12px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-font-weight: bold;
    -fx-inset: 0;
}
.add-button:hover {
        -fx-background-color: #4C545C;
}

.add-button:focused{
    -fx-text-fill : #fff;
    -fx-background-color: #66b266;
}
